---
layout: splash  
title: "Singular"
author_profile: true

excerpt: "Plataforma para criação de petições eletrônicas através de um modelo unificado e extensível."
header:
  overlay_image: header.png 

feature_row_a:
  - title: "Singular Form"
    excerpt: "<p style='text-align: justify;'>Automatiza e gerencia formulário de petição longos ou complexos com uma interface prática e agradável para os usuário finais, bem como, faz a gestão de versões.</p>"

  - title: "Singular Flow"
    excerpt: "<p style='text-align: justify'>Controla o fluxo interno de análise no orgão do início ao fim, apoio o trabalho dos analista do orgão.</p>"

feature_row_b:
  - image_path: 50.png
    excerpt: "<p style='text-align: center'>Redução de tempo em novas petições</p>"

  - image_path: 70.png
    excerpt: "<p style='text-align: center'>Redução de tempo nas evoluções</p>"

  - image_path: 80.png
    excerpt: "<p style='text-align: center'>Redução de erros</p>"

feature_row_c:
  - excerpt: "<p style='text-align: center'>Agilidade na evolução de processos e formulários</p>"
  - excerpt: "<p style='text-align: center'>Maior flexibilidade e qualidade do sistema</p>"
  - excerpt: "<p style='text-align: center'>Redução de ocorrência de erros</p>"

---

<p style="text-align: justify;"> OpenSingular através de sua tecnologia inovadora de formulários de petição reduz tempos e erros permitindo entregas rápidas e contínuas. Utiliza componentes prontos e testados e de simples reutilização, concedendo fluxos mais estáveis e consistentes com alto grau de confiabilidade.</p>


<h1 style="padding-bottom: 20px;border-bottom: 1px solid #316b74;color: #316b74;">Módulos</h1>

{% include feature_row id="feature_row_a" %}

<h1 style="padding-bottom: 20px;border-bottom: 1px solid #316b74;color: #316b74;">Diferenciais</h1>

{% include feature_row id="feature_row_b" %}

<h1 style="padding-bottom: 20px;border-bottom: 1px solid #316b74;color: #316b74;">Benefícios</h1>
{% include feature_row id="feature_row_c" %}
