---
layout: splash  
title: "Open Singular"
author_profile: true

excerpt: "Plataforma para criação de petições eletrônicas através de um modelo unificado e extensível."
header:
  overlay_image: header.png 

feature_row a:
  - title: "Singular Form"
    excerpt: "*Automatiza e gerencia formulário de petição longos ou complexos com uma interface prática e agradável para os usuário finais, bem como, faz a gestão de versões.*"

  - title: "Singular Flow"
    excerpt: "*Controla o fluxo interno de análise no orgão do início ao fim, apoio o trabalho dos analista do orgão.*"

feature_row b:
  - image_path 50.png
    excerpt: "Redução de tempo em NOVAS PETIÇÕES"

  - image_path 70.png
    excerpt: "Redução de tempo nas EVOLUÇÕES"

  - image_path 80.png
    excerpt: "Redução de ERROS"
---

{% include feature_row id = "a" %}

{% include feature_row id = "b" %}
